*
{
    margin:0;
    padding:0;
}
/* navbar */
.navbar-nav
{
    font-size: 20px;
}
.navbar
{
    position: sticky;
    top: 0;
    z-index: 1;
}

/* justify content */
.justify 
{ 
    text-align: justify; 
    text-justify: inter-word; 
}

/* button */
.btn:hover
{
    color: white;
}

/* progress bar */
.progress
{
    height: 30px;
    border-radius: 50px;
    transition: all 0.5s ease;
}
.progress:hover
{
    transform: scale(1.1);
}

.card
{
    transition: all 0.5s ease;
}
.card-img
{
    height: 100px;
    width: 100px;
    margin: auto;
}
.card:hover
{
    transform: scale(1.1);
    box-shadow: 1px 2px 10px black;
}